// Colors

$pink: #ff0066;
$black: #232228;
$greyText: #888888;

$gutter: 12px;

// MediaQuery

$mobileMax: 767px;
$tabletMin: 768px;
$tabletMax: 1059px;
$desktopMin: 1060px;
$desktopMax: 1399px;
$lgMin: 1400px;

$animDur: 350ms;